html{
  user-select: none;
  font-family: "omyu_pretty";
}
#chatWrap{
  position: absolute;
  width:99%;
  height:99%;

  left:0.3em;
  top:0.2em;

  display: block;
}
#chatMain{
  position:absolute;
  font-size:3em;
  width:99%;
  height:98%;
  background-color: skyblue;
  border-radius: 30px;
  color:white;
  z-index:10;

  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}
.btn{
  position: relative;
  font-size:0.7em;
  border: 1px solid white;
  border-radius: 15px;
  color:white;
  background-color: transparent;
  font-family: "omyu_pretty";
  cursor:pointer;

  width:5em;
  height:1.5em;
  transition: all ease 0.5s;
  z-index: 999;
  margin-top: 12em;
}
.btn:hover{
  border:1px solid skyblue;
  background-color: white;
  color: skyblue;
}
#chatLobby{
  width:100%;
  height:100%;

  display:flex; /* flex */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 1s;
}
#chatStat{
  position: relative;
  width:100%;
  height:100%;
  left:-0.17em;
  top:-0.13em;
  display:flex; /* flex */
  opacity: 0.0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 1s;
}
#chatTime{
  position: absolute;
  width:100%;
  height:100%;
  left:-0.17em;
  top:-0.13em;
  transition: all ease 1s;
  display: none;
  justify-content: center;
  align-items: center;

}
#chatLoading{
  width:100%;
  height:100%;
  
  display:none; /* */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#chatLoadBigCircle{
  position:relative;
  border-radius:50%;
  width:3em;
  height:3em;
  background-color: white;
  background: conic-gradient(white 0% 15%, skyblue 10% 100%);
}
.chatLoadCircle{
  position:absolute;
  border-radius:50%;
  width:2em;
  height:2em;
  top:0.495em;
  left:0.495em;
  background-color: skyblue;
}
.chatLoadLabel {
  position:relative;
  margin-top:1em;
}
#wordcloud {
  font-family: 'omyu_pretty';
  width: 100%;
  height: 100vh;
}
.screenList{
  position: absolute;
  border:1px solid white;
  border-radius: 50%;
  background-color: white;
  width:0.3em;
  height:0.3em;
  bottom:1em;
  left:45.5%;
  transition: all ease 0.5s;
  cursor:pointer;
}
.screenList:nth-of-type(2){
  left:49.5%;
  background-color: transparent;
}
.screenList:nth-of-type(3){
  left:53.5%;
  background-color: transparent;
}

.label{
  margin-bottom: 12em;
}

#chatLobby span{
  margin-bottom: 7em;
}

canvas {
  max-width: 600px;
  margin: 0 auto;
  width: 80%;
  max-height: 55%;
  position: absolute;
  top: 15%;
}