
html{
    user-select: none;
    font-family: "SUNMOON";
}
body{
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    height:100%;
    max-height: 57em;
    overflow:auto;
}
header{
    position:relative;
    border-bottom:1px solid lightgray;
    width:80%;
    min-width:60em;
    height:8.7%;
    min-height:5em;
    margin-left:10.5%;
}
.header-nav{
    position:absolute;
    width:77%;
    height:3.8em;

    font-size:1.3em;
    right:0em;

    display:flex;
    justify-content: right;
}
.nav-opt{
    position:relative;
    background-color : transparent;
    width:6em;

    text-align: center;
    cursor:pointer;
    color:gray;
    transition:all ease 0.3s;
}
.nav-opt:hover{
    color:lightgray;
}
section{
    position:relative;
    height:92%;
    min-height:52.5em;
    width: 80%;
    min-width: 60em;
    margin-left:10.5%;
}

.content{
    border:1px solid lightgray;
    position:relative;
    width: 100%;
    height: 90%;
    min-height:20em;
    min-width:70em;

    margin-top:2.5%;
    display:block;
}